<!doctype html>
<html>
    <head>
        <title>About</title>
         <link rel="icon" src="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
         <div class="main-content"> 
            {{>header}}
    
            <img class="portrait" src="\img\and-you-all-fqyhyq.jpg">
        </div>
        {{>footer}}
    </body>
</html>